@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #dfc7aa;
  --foreground: #44271f;
}

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-heading: var(--font-jersey-10);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root,
body {
  @apply bg-background text-foreground h-full;
}

main {
  @apply min-h-full;
}

@utility pixel {
  image-rendering: pixelated;
}

@utility clip-sm {
  clip-path: polygon(98% 4%, 100% 64%, 93% 96%, 6% 98%, 0 41%, 9% 0);
}

@utility clip-none {
  clip-path: none;
}
