---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Newt Café"
  desc="An indie game collective based in Brazil."
  class="grid place-content-center"
>
  <h1 class="font-heading text-6xl font-black">Hello, World!</h1>
</Layout>
